/* settings */
.navboxcolorandshadow {
  background: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
/* settings */
body {
  margin: 0px;
  background-color: #fafafa;
}
.nav-bar {
  background: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  width: 100%;
  position: fixed;
  z-index: 900;
  text-align: center;
  height: 50px;
}
.site-logo {
  width: 120px;
  height: 50px;
  background-image: url('../img/ikeanav.png');
  background-repeat: no-repeat;
  display: inline-block;
  background-position-y: center;
  vertical-align: top;
}
.main-menu {
  margin: auto;
  display: inline-block;
}
.main-menu .item {
  display: inline-block;
  padding: 0px 30px;
  list-style-type: none;
  height: 50px;
  line-height: 50px;
}
.main-menu li:hover .sub-menu {
  display: block;
}
.sub-menu {
  display: none;
  position: absolute;
  top: 50px;
  padding: 0px;
}
.sub-menu .item.-submenu {
  display: block;
  text-align: left;
  padding: 10px 20px;
  min-width: 180px;
  background: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border: 0px;
}
.navfont {
  font-family: Roboto, Arial, sans-serif;
  font-size: 30px;
  color: black;
}
.navfont.-sub {
  font-size: 16px;
}
.navfont:link {
  text-decoration: none #ffffff;
}
.navfont:visited {
  text-decoration: none;
}
.navfont:hover {
  color: rgba(0, 0, 0, 0.4);
  text-shadow: lightgrey;
}
.bg-imagetop {
  background-image: url('../img/furniture.jpg');
  margin: 0 auto;
  width: 1321px;
  height: 790px;
}
.frame-offer {
  width: 600px;
  height: 300px;
  margin: auto;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(119, 119, 119, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  position: relative;
  z-index: 1;
  top: 197px;
}
.frame-offer .table-offer {
  margin: auto;
}
.frame-offer .table-offer img {
  width: 60px;
  height: 60px;
}
.frame-offer .table-offer td {
  padding: 5px 20px;
  font-style: italic;
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
}
.frame-offer .offtext {
  text-align: center;
  font-size: 20px;
  margin-top: 0;
}
.frame-offer .offlist {
  text-align: left;
  list-style-type: disc;
  padding-top: 5px;
}
.first-block .second-block {
  display: none;
}
.first-block:hover .second-block {
  display: block;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.subscribe-button {
  margin: auto;
  text-align: center;
  position: relative;
}
.subscribe-button.-top {
  top: 300px;
}
.subscribe-button.-footer {
  top: 100px;
}
.button {
  background-color: #ff3730;
  border-radius: 2px;
  color: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.31);
  cursor: pointer;
  letter-spacing: 2px;
  font-family: Roboto, Calibri, sans-serif;
  border: 0px;
}
.button.-sizetop {
  width: 250px;
  height: 77px;
  font-size: 38px;
  padding-left: 5px;
  padding-bottom: 5px;
}
.button.-sizefooter {
  width: 455px;
  height: 138px;
  font-size: 71px;
  padding-bottom: 7px;
}
.button:hover {
  background-color: #b7e276;
}
.main {
  width: 60%;
  min-width: 1000px;
  margin: auto;
  margin-bottom: 50px;
}
.main .title {
  text-align: center;
  font-family: Calibri, Arial, sans-serif;
  font-size: 42px;
  letter-spacing: 2px;
}
.main .title.-h3 {
  font-weight: lighter;
  font-size: 26px;
  font-style: italic;
}
.main .text {
  text-align: left;
}
.main-title {
  margin: 30px auto 20px;
}
.main-title .fa {
  font-size: 50px;
}
.main-title .title.-h2 {
  padding: 0px 40px;
  margin: 0px;
}
.main-title .title.-h3 {
  margin: 2px 0px 16px 0px;
}
.main-title .icon {
  width: 50px;
}
.main-title .titlerow {
  width: 400px;
}
.videoadv {
  text-align: center;
}
.figure {
  float: right;
  text-align: center;
  width: 300px;
}
.figure .map {
  width: 300px;
}
.figure:hover {
  opacity: 0.7;
}
.ikea {
  width: 300px;
  float: left;
  margin: 5px 10px 5px 5px;
}
.ikea:hover {
  opacity: 0.7;
}
.table-names {
  width: 1000px;
  margin: auto;
  border: 1px solid black;
  border-collapse: collapse;
}
.table-names td,
.table-names th,
.table-names tr {
  border: 1px solid black;
  padding: 5px 3px;
}
.catalog-list {
  padding: 0px;
  text-align: center;
}
.catalog-list .catitem {
  display: inline-block;
  padding: 10px 30px;
  list-style-type: none;
}
.catalog-list .catitem img {
  background-size: cover;
  width: 120px;
  height: 120px;
}
.catalog-list .catitem img:hover {
  opacity: 0.7;
}
.cataloglist {
  height: 252px;
}
.cataloglist ul {
  padding-left: 285px;
}
.cataloglist img {
  float: left;
  padding-right: 10px;
}
.cataloglist img:hover {
  opacity: 0.7;
}
.contact-form {
  overflow: auto;
}
.contact-form .address {
  float: left;
  width: 45%;
}
.contact-form .address p {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 35px;
  font-weight: normal;
}
.footer {
  text-align: center;
}
.footer .bg-imagefooter {
  margin: 0 auto;
  text-align: center;
  background-image: url(../img/furniture2.png);
  width: 1321px;
  height: 500px;
}
.footer img {
  position: relative;
  top: 30px;
}
