/* settings */
.navboxcolorandshadow {
  background: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
@font-nav: Roboto, Arial, sans-serif;
@font-button: Roboto, Calibri, sans-serif;
@font-title: Calibri, Arial, sans-serif;
@font-contacts: Arial, sans-serif;
@color-body: #fafafa;
  /* settings */

body {
  margin:0px;
  background-color: @color-body;
}
.nav-bar {
  .navboxcolorandshadow;
  width: 100%;
  position: fixed;
  z-index: 900;
  text-align: center;
  height: 50px;
}
.site-logo {
  width: 120px;
  height: 50px;
  background-image: url('../img/ikeanav.png');
  background-repeat: no-repeat;
  display: inline-block;
  background-position-y: center;
  vertical-align: top;
}
.main-menu {
  margin: auto;
  display: inline-block;
  .item {
    display: inline-block;
    padding: 0px 30px;
    list-style-type: none;
    height: 50px;
    line-height: 50px;
  }
  & li:hover .sub-menu {
    display: block;
  }
}
.sub-menu {
  display: none;
  position: absolute;
  top: 50px;
  padding: 0px;
  .item.-submenu {
    display: block;
    text-align: left;
    padding: 10px 20px;
    min-width: 180px;
    .navboxcolorandshadow;
    border: 0px;
  }
}
.navfont {
  font-family: @font-nav;
  font-size: 30px;
  color: black;
  &.-sub {
    font-size: 16px;
  }
  &:link {
    text-decoration: none
    #ffffff
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    color: rgba(0,0,0,0.4);
    text-shadow: lightgrey;
  }
}
.bg-imagetop {
    background-image: url('../img/furniture.jpg');
    margin: 0 auto;
    width: 1321px;
    height: 790px;
}
.frame-offer {
  width: 600px;
  height: 300px;
  margin: auto;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(119, 119, 119, 0.5);
  background-color: rgba(255,255,255,0.5);
  text-align: center;
  position: relative;
  z-index: 1;
  top: 197px;
  .table-offer {
    margin: auto;
    img {
      width: 60px;
      height: 60px;
    }
    td {
      padding: 5px 20px;
      font-style: italic;
      font-family: @font-nav;
      font-size: 20px;
    }
  }
  .offtext {
    text-align: center;
    font-size: 20px;
    margin-top: 0;
  }
  .offlist {
    text-align: left;
    list-style-type: disc;
    padding-top: 5px;
  }
}
.first-block {
  .second-block {
    display: none;
  }
  &:hover .second-block {
    display: block;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
}
.subscribe-button {
  margin: auto;
  text-align: center;
  position: relative;
  &.-top {
    top: 300px;
  }
  &.-footer {
    top: 100px;
  }
}
.button {
  background-color: #ff3730;
  border-radius: 2px;
  color: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.31);
  cursor: pointer;
  letter-spacing: 2px;
  font-family: @font-button;
  border: 0px;
  &.-sizetop {
    width: 250px;
    height: 77px;
    font-size: 38px;
    padding-left: 5px;
    padding-bottom: 5px;
  }
  &.-sizefooter {
    width: 455px;
    height: 138px;
    font-size: 71px;
    padding-bottom: 7px;
  }
  &:hover {
    background-color: #b7e276;
  }
}
.main {
  width: 60%;
  min-width: 1000px;
  margin: auto;
  margin-bottom: 50px;
  .title {
    text-align: center;
    font-family: @font-title ;
    font-size: 42px;
    letter-spacing: 2px;
    &.-h3 {
      font-weight: lighter;
      font-size: 26px;
      font-style: italic;
    }
  }
  .text {
    text-align: left;
  }
}
.main-title {
  margin: 30px auto 20px;
  .fa {
    font-size: 50px;
  }
  .title.-h2 {
    padding: 0px 40px;
    margin: 0px;
  }
  .title.-h3 {
    margin: 2px 0px 16px 0px;
  }
  .icon {
    width: 50px;
  }
  .titlerow {
    width: 400px;
  }
}
.videoadv {
  text-align: center;
}
.figure {
  float: right;
  text-align: center;
  width: 300px;
  .map {
    width: 300px
  }
  &:hover {
    opacity: 0.7;
  }
}
.ikea {
  width: 300px;
  float: left;
  margin: 5px 10px 5px 5px;
  &:hover {
    opacity: 0.7;
  }
}
.table-names {
  width: 1000px;
  margin: auto;
  border: 1px solid black;
  border-collapse: collapse;
  td, th, tr {
    border: 1px solid black;
    padding: 5px 3px;
  }
}
.catalog-list {
  padding: 0px;
  text-align: center;
  .catitem {
    display: inline-block;
    padding: 10px 30px;
    list-style-type: none;
    img {
      background-size: cover;
      width: 120px;
      height: 120px;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.cataloglist {
  height: 252px;
  ul{
    padding-left: 285px;
  }
  img {
    float: left;
    padding-right: 10px;
    &:hover {
      opacity: 0.7;
    }
  }
}
.contact-form {
  overflow: auto;
  .address {
    float: left;
    width: 45%;
    p {
      text-align: center;
      font-family: @font-contacts;
      font-size: 35px;
      font-weight: normal;
    }
  }
}
.footer {
  text-align: center;
  .bg-imagefooter {
    margin: 0 auto;
    text-align: center;
    background-image: url(../img/furniture2.png);
    width: 1321px;
    height: 500px;
  }
  img {
    position: relative;
    top: 30px;
  }
}